@page
@model IndexModel
@{
    ViewData["Title"] = "Azure Logging";
}

<div class="text-center">
    <a href="https://learn.microsoft.com/en-us/aspnet/core/fundamentals/logging">https://learn.microsoft.com/en-us/aspnet/core/fundamentals/logging</a>

    <br />
    <br />
    <a href="https://learn.microsoft.com/en-us/azure/azure-monitor/app/ilogger">https://learn.microsoft.com/en-us/azure/azure-monitor/app/ilogger</a>
    <br />
    <br />
    <a href="https://learn.microsoft.com/en-us/azure/azure-monitor/app/tutorial-asp-net-core">https://learn.microsoft.com/en-us/azure/azure-monitor/app/tutorial-asp-net-core</a>
    <br />
    <br />
    <a href="https://jonathancrozier.com/blog/learning-the-kusto-query-language-with-application-insights-logs">https://jonathancrozier.com/blog/learning-the-kusto-query-language-with-application-insights-logs</a>
    <br />
    <br />

    <b>Some KDL queries for the traces or the exceptions</b>

    <br />
    <br />
    traces
    | where * hassuffix "my home"
    | and severityLevel >= 2

    <br />
    <br />

    exceptions
    | where * hassuffix "FIND"

    <br />
    <br />

    traces
    | where * hassuffix "my home"
    and severityLevel >= 1

</div>









